*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color:#E53170;
    padding-bottom: 2rem;
    text-align: center;
}

p{
    text-align: center;
}

header{
    width: 80%;
    margin: auto;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
   }

.col {
    float: left;
    margin: auto;
    width: calc(100%/3);
    padding-right:20px;
    
}
.card{
    background-color: black;
    box-shadow: 2px 2px 2px #888888;
}

img{
    width: 80px;
    float: left;
    padding-right: 10px;
}

.textcard{
    margin-left: 85px;
    padding-top: 8px;
}

body{
    margin: auto;
    max-width: 1170px;
    width: 80%;
    text-align: center;
}

.job{
    font-size: 10px;
    color: white;
    text-align: left;
    padding: 5px;
    display: block;
    padding-left: 5px;
   

}

.name{
    font-size: small;
    color: white;
    text-align: left;
    padding: 5px;
    display: block;
    
}

a{
    text-align: left;
    font-size: 10px;
    display: block;
    padding: 5px;
    color: #47b9df;
    text-decoration: none;
}
.row {
    margin-top: 25px;
}